@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.search-box {
  border: 1px solid #E0E3E5;
}

.search-box {
  border-radius: 5px;
}

button {
  background-color: inherit;
  border: 1px solid #62D4E5;
  color: #62D4E5;
  padding: 10px;
  border-radius: 5px;
}

.hr, #index main section:nth-of-type(2) .hr, #index main section:nth-of-type(3) .hr {
  width: 100%;
  height: 1px;
  background-color: #E0E3E5;
  margin-bottom: 50px;
  display: block;
}

body * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 5%;
  font-family: sans-serif;
  position: relative;
}

.search-box {
  padding: 5px;
  display: inline-block;
}

.search-box input {
  border: none;
}

.search-box i {
  color: #7F888F;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 5px 0;
}

a {
  text-decoration: none;
  color: #3D4449;
}

.aside {
  position: absolute;
  transition: 500ms ease-in-out all;
  left: 0px;
  top: 0;
  width: 250px;
  padding: 20px;
  background-color: #F5F6F7;
}

.aside #bars {
  position: absolute;
  top: 20px;
  left: 105%;
}

.aside img {
  width: 80%;
}

.aside section:nth-of-type(1) div:nth-of-type(1) {
  background-color: #EFF1F2;
}

.hide-aside {
  position: absolute;
  left: -250px;
}

.right-side {
  position: fixed;
  right: 0px;
  top: 0;
  width: 20%;
  background-color: #3D4449;
  padding: 20px;
}

i {
  color: #62D4E5;
}

header {
  position: relative;
}

header > i {
  margin-bottom: 20px;
}

header h4 {
  display: inline-block;
  margin: 0;
}

header h4 span:nth-of-type(1) {
  color: #3D4449;
  transition: 350ms ease-in-out;
}

header h4 span:nth-of-type(2) {
  color: #7F888F;
  transition: 500ms ease-in-out;
}

header div {
  position: absolute;
  right: 0;
  display: inline-block;
}

header div i {
  color: #7F888F;
}

header .hr {
  margin-top: 40px;
  height: 3px;
  width: 100%;
  background-color: #62D4E5;
  display: block;
}

.clear::after {
  display: block;
  content: '';
  clear: both;
}

#index main {
  padding-top: 40px;
}

#index main section:nth-of-type(1) div:nth-of-type(1) {
  width: 50%;
  padding-right: 20px;
  float: left;
  color: #7F888F;
}

#index main section:nth-of-type(1) div:nth-of-type(1) h1 {
  font-size: 56px;
  color: #3D4449;
}

#index main section:nth-of-type(1) div:nth-of-type(2) {
  width: 50%;
  float: right;
}

#index main section:nth-of-type(2) h3 {
  font-size: 28px;
}

#index main section:nth-of-type(2) > div {
  display: inline-block;
  width: 50%;
  float: left;
  margin: 30px 0;
}

#index main section:nth-of-type(2) > div h4 {
  display: inline-block;
  font-size: 20px;
}

#index main section:nth-of-type(2) > div p {
  display: inline-block;
}

#index main section:nth-of-type(2) > div > div:nth-of-type(1) {
  border: 1px solid #E0E3E5;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
  width: 100px;
  text-align: center;
  float: left;
}

#index main section:nth-of-type(2) > div > div:nth-of-type(1) i {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  line-height: 100px;
}

#index main section:nth-of-type(2) > div > div:nth-of-type(2) {
  display: inline-block;
  float: right;
  width: 75%;
}

#index main section:nth-of-type(3) h3 {
  font-size: 28px;
}

#index main section:nth-of-type(3) > div {
  width: 50%;
  display: inline-block;
  float: left;
  padding: 30px;
  overflow: hidden;
}

#index main section:nth-of-type(3) > div > div {
  border-radius: 5px;
  overflow: hidden;
  width: 600px;
  height: 315px;
}

#index main section:nth-of-type(3) > div > div img {
  width: 100%;
  border-radius: 5px;
  transition: 500ms ease-in-out all;
}

#index main section:nth-of-type(3) > div > div img:hover {
  width: 110%;
}

#index main section:nth-of-type(3) div:nth-of-type(2n+1) {
  border-right: 1px solid #E0E3E5;
  border-bottom: 1px solid #E0E3E5;
}

#index main section:nth-of-type(3) div:nth-of-type(2n) {
  border-bottom: 1px solid #E0E3E5;
}

.generic h3 {
  font-size: 28px;
}

.generic img {
  width: 100%;
}

@media only screen and (max-width: 735px) {
  #index main section:nth-of-type(1) img {
    width: 100%;
  }
  #index main section:nth-of-type(1) div:nth-of-type(1) {
    width: 100%;
    display: block;
  }
  #index main section:nth-of-type(1) div:nth-of-type(2) {
    width: 100%;
    display: block;
  }
  #index main section:nth-of-type(2) > div {
    display: block;
    width: 100%;
  }
  #index main section:nth-of-type(3) div {
    border: none;
    width: 100%;
    display: block;
  }
  #index main section:nth-of-type(3) div img {
    width: 100%;
  }
}
