body{
  margin: 0;
  padding: 0;
  background-color: hsla(0, 0%, 80%, 0.75);
}
a{
  color:inherit;
  text-decoration: inherit;
}
li{
  list-style: none;
}
li, button, h3, p, h1{
  padding:8px;
  border-radius: 8px;
  transition: 500ms ease-in-out;
  border:none;
}
li:hover, button:hover, h3:hover, p:hover, h1:hover, nav.fixed{
  background-color: hsla(0, 0%, 20%, 0.75);
  color:hsla(0, 0%, 80%, 0.75);
}
ul{
  display: flex;
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: flex-end;
  transition: 250ms ease-in-out;
  transform: translateY(0%);
}
h1{
  font-size: 3em;
  transition: 500ms ease-in-out;
}
main section{
  display: flex;
  flex-direction: row;
  padding:10% 5%;
  overflow: hidden;
}
section div{
  flex: 3;
  text-align: center;
  padding:16px;
  transform: translateX(-200%);
}
section img{
  flex: 2;
  border-radius: 32px;
  filter:grayscale(1);
  transform: translateX(200%);
}
section:nth-of-type(3) div{
  transform: translateX(200%);
}
section:nth-of-type(3) img{
  transform: translateX(-200%);
}
main section:nth-of-type(1){
  background-image:url('https://unsplash.it/3000/1000');
}
main section:nth-of-type(3){
  flex-direction: row-reverse;
}
section h3{
  font-size: 2em;
}
section p{
  font-size: 1.5em;
}
.fixed{
  position: fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  box-sizing: border-box;
  transform: translateY(100%);
}
.slide{
  transform: translateX(0);
}
