body, a:hover {cursor: url(http://cur.cursors-4u.net/toons/too-9/too856.cur), progress !important;}body{
margin: 0;
}
nav{
  background-color: #ddd;
  padding: 20px;
}
nav ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
main{
  text-align: center;
}
img{
  width: 35%;
}
footer{
  background-color: #303030;
  color: white;
  padding: 20px;
}
@media print{
  nav{
    display:none;
  }
  main{
    text-align: center;
  }
  h1{
    color:grey;
  }
  main div:nth-of-type(1){
    float:left;
    width:55vw;
    height:55vw;
    border-radius: 100%;
    border: 10px solid grey;
    overflow:hidden;
    margin:20% 5% 10% 5%;
    box-sizing: border-box;
  }
  main div:nth-of-type(2){
    float:right;
    width:35%;
    margin:10% 5% 10% 5%;
    box-sizing: border-box;
  }
  img{
    width: 70%;
  }
  footer{
    display: none;
  }
}
@media screen and (max-width:50;){
  body{
    background-color: aliceblue;
  }
}
@media screen and (min-width:100;){
  body{
    background-color: antiquewhite ;
  }
}
@media screen and (min-width:150;){
  body{
    background-color:aqua ;
  }
}

@media screen and (min-width:200;){
  body{
    background-color:aquamarine ;
  }
}
@media screen and (min-width:250;){
  body{
    background-color:azure ;
  }
}
@media screen and (min-width:300;){
  body{
    background-color: beige;
  }
}
@media screen and (min-width:350;){
  body{
    background-color:black ;
  }
}
@media screen and (min-width:400;){
  body{
    background-color:blanchedalmond ;
  }
}
@media screen and (min-width:450;){
  body{
    background-color: blue;
  }
}
@media screen and (min-width:500;){
  body{
    background-color:blueviolet ;
  }
}
@media screen and (min-width:550;){
  body{
    background-color: brown;
  }
}
@media screen and (min-width:600;){
  body{
    background-color:burlywood ;
  }
}
@media screen and (min-width:650;){
  body{
    background-color:cadetblue ;
  }
}
@media screen and (min-width:700;){
  body{
    background-color: chartreuse;
  }
}
@media screen and (min-width:750;){
  body{
    background-color:chocolate ;
  }
}
@media screen and (min-width:768;){
  body{
    background-color:coral ;
  }
}
@media screen and (min-width:800;){
  body{
    background-color:cornflowerblue ;
  }
}
@media screen and (min-width:850;){
  body{
    background-color:cornsilk ;
  }
}
@media screen and (min-width:900;){
  body{
    background-color:crimson ;
  }
}
@media screen and (min-width:950;){
  body{
    background-color: cyan;
  }
}
@media screen and (min-width:992;){
  body{
    background-color:darkblue ;
  }
}
@media screen and (min-width:1000;){
  body{
    background-color: darkcyan;
  }
}
@media screen and (min-width:1050;){
  body{
    background-color:darkgoldenrod ;
  }
}
@media screen and (min-width:1100;){
  body{
    background-color:darkgrey ;
  }
}
@media screen and (min-width:1150;){
  body{
    background-color:darkgreen ;
  }
}
@media screen and (min-width:1200;){
  body{
    background-color:darkkhaki ;
  }
}
