//mixin-------------------------------------------------------------------------
@mixin border-style($border-color){
  border: 1px solid $border-color;
  border-radius: 10px;
  box-shadow: 0 10px 10px $secondary-color;
}
@mixin li-width($number, $col, $col2){
  width:calc(100%/#{$number});
  display: inline-block;
  box-sizing: border-box;
  margin:0;
  padding:0;
  color:$col2;
  .fa{
    color:$col;
  }
}
