#nav{
    list-style:none;
    padding:0;
    width:100vw;
}
#nav li{
    position:relative;
    width:100vw;
}
#nav a{
    display:block;
    color:#fff;
    text-decoration:none;
}
#nav a:hover{
    color:#fff;
    background:#E74C3C;
    text-decoration:none;
}

#nav ul{
    background:#E74C3C;
    list-style:none;
    position:absolute;
    left:-9999px;
    padding:0;
}
#nav li:hover ul{
    left:0;
}
#nav li:hover .type3{
    left:50%;
}
#nav li:hover a{
    text-decoration:none;
}
